@media (max-width:500px){
    .dam h1{
        font-weight: bolder;
    }
    .report-flexs{
        display: flex;
        flex-direction: column;
        width: 100vh;
      
    }
    .report-flexs h2{
        margin-bottom: 20px;
        font-weight: 200;
    }
    
}
@media (max-width:400px){
  .row h1{
    font-size: 15px;
  }
  .report-head{
    left: 0 !important;
    font-size: 20px !important;
  }
  .report-span{
    font-size: 15px;
    
    max-width: 80px !important; 
         /* Hides overflowing text */
   text-overflow: ellipsis;
    /* white-space: nowrap;   */
    vertical-align: middle; 
  }
  .report-img{
    width: 40vh;
  }
}