.video-background {
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.mobile-video{
  display: none;
}
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
  pointer-events: auto;
}
.main{
    font-size: 60px !important;
}
.main1{
  font-size: 20px;
  
}
.btn{
  margin-top: 20px;
  /* text-align: center; */
  cursor: pointer;
}
.btn1{
  border-radius: 15px;
  background-color: white;
  color: black;
  width: 20vh;
  height: 40px;
  cursor: pointer;
}

/* Large screens */
@media (max-width: 1340px) {
  .overlay {
    top: 53%;
  }
  .overlay .main {
    font-size: 47px !important;
  }
}

@media (max-width: 1240px) {
  .overlay {
    top: 53%;
  }
  .overlay .main {
    font-size: 45px !important;
    text-shadow: 0px 0px 0px #cdd6d8, 1px 1px 0px #d5ddde !important;
  }
}

/* Medium screens */
@media (max-width: 1040px) {
  .overlay {
    top: 55%;
  }
  .overlay .main {
    font-size: 35px !important;
    text-shadow: 0px 0px 0px #cdd6d8, 1px 1px 0px #d5ddde !important;
  }
}

@media (max-width: 900px) {
  .overlay{
    top: 55%;
  }
  .overlay .main {
    font-size: 38px !important;
    text-shadow: 0px 0px 0px #cdd6d8, 1px 1px 0px #d5ddde;
  }
}

/* Smaller tablets and phones */
@media (max-width: 792px) {
  .overlay {
    top: 55%;
  }
  .overlay .main {
    font-size: 35px !important;
  }
  .overlay .main1 {
    font-size: 18px;
  }
  .overlay .btn1 {
    width: 10vh;
  }
}

@media (max-width: 710px) {
  .overlay {
    top: 55%;
    color: #fdfdfd;
  }
  .overlay .main {
    font-size: 37px !important;
  }
  .overlay .main1 {
    font-size: 12px;
  }
}

/* Mobile devices */
@media (max-width: 500px) {
  .mobile-video{
    display: block;
   
  }
  .laptop{
    display: none;
  }
  .overlay {
    top: 53% !important;
    color: #0988bf;
  }
  .overlay .main {
    font-size: 35px !important;
    text-shadow: 0px 0px 0px #cdd6d8, 1.5px 1px 0px #d5ddde;
  }
  .overlay .main1 {
    font-size: 8px;
    display: none;
  }
  .overlay .btn1 {
    width: 10vh;
  }
}

@media (max-width: 400px) {
  .overlay {
    top: 47%;
  }
  .overlay .main {
    font-size: 27px !important;
    color: aqua;
    text-shadow: 0px 0px 0px #0edafa, 1.5px 1px 0px #0edafa;
  }
  .overlay .main1 {
    font-size: 8px;
  }
  .overlay button {
    width: 30vw;
    background-color: gray;
    cursor: pointer;
  }
  .overlay button:hover {
    color: blue;
  }
}

/* Extra-small devices */
@media (max-width: 375px) {
  .overlay {
    top: 45% !important;
  }
  .overlay .main {
    font-size: 28px !important;
  }
  .overlay .main1 {
    font-size: 8px;
  }
  .overlay .btn1 {
    width: 10vh;
  }
}