.contact{
    margin-top: 30vh;
}
.form{
    background-color: #E3F2FD;
}
.btn{
    width: 30vh;
    height: 40px;
    border-radius:5px ;
    margin-bottom: 50px;
}
@media (max-width:400px){
    .contact-flex{
        display: flex;
        flex-direction: column;
        width: 100vh;
    }
    .form{
        width: 48vh;
    }
    .contact-img img{
        border-radius: 5px;
    }
    form input{
        width: 43vh;
    }
}