.footer{
    margin-top: 150px;
    background-color: blue;
    
    
}
.icons{
    cursor: pointer;
}
.fa-brands:hover{
    color: aqua;
}
input{
    height: 50px;
    width: 50vh;
    border-radius: 5px;
    background-color: white;
    outline: none;
    margin-bottom: 8px;
}
.damage-btn{
    height: 40px;
    width: 50vh;
}