.footer{
    margin-top: 70px;
    background-color:#D7D3BF;
    
    
}
.icons{
    cursor: pointer;
}
.fa-brands:hover{
    color:white;
}
input{
    height: 50px;
    width: 50vh;
    border-radius: 5px;
    background-color: white;
    outline: none;
    margin-bottom: 8px;
}
.damage-btn{
    height: 40px;
    width: 50vh;
}

@media (max-width:500px){
    .footer{
        display: flex;
        flex-direction: column;
    }
    .input{
        width: 40vh;
    }
    .damage-btn{
        width: 40vh;
    }
}
@media (max-width:792px){
    .footer{
        display: flex;
        flex-direction: column;
    }
}